.window_label:hover {
    opacity: 61.05;
}
.window_label {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    display: block;
    font-family: lucida grande, lucida sans, lucida sans unicode, luxi sans, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 290px;
    width: 100px;
    z-index: 100;
    opacity: 0.6;
    margin-right: 0;
    border-radius: 3px;
}
.original {
    float: left !important;
    position: relative;
}
.changed {
    float: right !important;
    position: relative;
}
.diffinfo ul {
    list-style: none;
}
.diffinfo .replace {
    background-color: #fd8;
}
.diffinfo {
    width: 98%;
    float: right;
    display: none;
    margin-bottom: 10px;
    margin-right: 22px;
}
.diffinfo .empty {
    background-color: #ddd;
}
.diffinfo .insert {
    background-color: #9e9;
}
.diffinfo .delete {
    background-color: #e99;
}
.diffinfo li {
    width: 23%;
    float: left;
    padding: 0 1%;
    text-align: center;
}
.successmessage {
    color: #fff;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    font-weight: 700;
    width: 98%;
    background-color: green;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.option {
    float: left;
    width: 14%;
    margin-right: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.option fieldset {
    border: 1px solid;
    padding: 5px;
    width: 100%;
}
.option legend {
    width: 38%;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    line-height: 0;
}
.option input {
    float: left;
}
.option span {
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}
.custombtn {
    width: 100%;
    float: left;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid gray;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid gray;
}
.advopt {
    background-color: gray;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.advopt a {
    text-decoration: none;
    text-align: center;
    float: left;
}
.advopt a:hover {
    text-decoration: none !important;
}
.arrow-e,
.arrow-n,
.arrow-s,
.arrow-w {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.53em;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 100px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
}
.arrow-e {
    border-left-width: 1em;
    border-left-style: solid;
    border-left-color: #666;
    left: 0.25em;
}
.arrow-s {
    border-top-width: 1em;
    border-top-style: solid;
    border-top-color: #666;
    top: 0.25em;
}
table.diff {
    border-collapse: collapse;
    border: 1px solid #a9a9a9;
    white-space: pre-wrap;
    min-width: 100%;
    table-layout: fixed;
}
table.diff tbody {
    font-family: Courier, monospace;
}
table.diff tbody th {
    font-family: verdana, arial, bitstream vera sans, helvetica, sans-serif;
    background: #eed;
    font-size: 11px;
    font-weight: 900;
    color: #886;
    padding: 0.3em 0.5em 0.5em 2em;
    text-align: left;
    /* vertical-align: top; */
    display: block;
}
table.diff thead {
    border-bottom: 1px solid #bbc;
    background: #efefef;
    font-family: Verdana;
}
table.diff thead th.texttitle {
    text-align: center;
    color: #fff;
    background-color: gray;
    padding: 10px;
    font-weight: lighter;
    font-size: 23px;
    letter-spacing: 1px;
}
table.diff tbody td {
    padding: 0 0.4em;
    padding-top: 0.4em;
    vertical-align: top;
    word-break: break-all;
}
table.diff .empty {
    background-color: #ddd;
    width: 50%;
}
table.diff .replace {
    background-color: #fd8;
    width: 50%;
}
table.diff .delete {
    background-color: #e99;
    width: 50%;
}
table.diff .skip {
    background-color: #efefef;
    border: 1px solid #aaa;
    border-right: 1px solid #bbc;
    width: 50%;
}
table.diff .insert {
    background-color: #9e9;
    width: 50%;
}
table.diff .equal {
    width: 50%;
}
table.diff th.author {
    text-align: right;
    border-top: 1px solid #bbc;
    background: #efefef;
}
.difftable {
    border-top: 1px solid grey;
    max-height: 500px!important;
    overflow-y: scroll!important;
    border-bottom: 1px solid grey;
    margin: 0!important;
}
