body{
    position: relative;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.files{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.leftText,.rightText{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin: 30px;
    height: 400px;
    border-style: solid;
    gap: 10px;
    overflow: scroll;
}

p{
    margin: 0;
    margin-left: 10px;
}
#selectBtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    justify-items: center;
    
}
#compare{
    background-color: aquamarine;
    z-index: 1;
    position: absolute;
    left: 48%;
    top: 45%;
    height: 40px;
    width: 80px;
    border-radius: 5px 20px;
}
#compare:active{
    transform: translateY(4px);
}
.double{
    background-color: red;
}
.lFile{
    background-color: darkgoldenrod;
}
